@mixin btn_white() {
    @include btn($white);
    &:hover {
        border: 2px solid #3a3a3a;
        background-color: transparent;
        color: #3a3a3a;
    }
}


@mixin btn($color) {
    font-weight: 400;
    color: $color;
    border: 2px solid $color;
    border-radius: $radius;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 21px 32px 20px 30px;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
        color: $white;
        background-color: #80c7fc;
        border: 2px solid #289ffa;
        transition: all 0.2s linear;
    }
}

@mixin box-shadow($opacity) {
    -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,$opacity);
    -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,$opacity);
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,$opacity);
}

@mixin blue-box-shadow($spread) {
    -webkit-box-shadow: 0px 0px 30px $spread rgba(8,145,249,0.1);
    -moz-box-shadow: 0px 0px 30px $spread rgba(8,145,249,0.1);
    box-shadow: 0px 0px 30px $spread rgba(8,145,249,0.1);
}