$dark-blue: #0082e5;
$blue: #0891f9;
$light-blue: #078ff7;
$white: #ffffff;
$grey-text: #4e4e4d;
$bg-color: #f7f7f7;
$radius: 35px;
$breakpoint-1: 1200px;
$breakpoint-2: 992px;
$breakpoint-3: 767px;
$breakpoint-4: 480px;