$bg-bar-col: #0082e5;
$bg-col-1: #0891f9;
$bg-col-2: #f7f7f7;
$bg-col-3: #fff;

$blue-font: #0891f9;
$white-font: #fff;
$grey-font: #4e4e4d;

$radius: 35px;

$breakpoint-1: 1200px;
$breakpoint-2: 992px;
$breakpoint-3: 767px;
$breakpoint-4: 480px;