@font-face {
    font-family: 'Jack Frost';
    src: url('../font/jack_frost-webfont.eot?79634847');
    src: url('../font/jack_frost-webfont.eot?79634847#iefix') format('embedded-opentype'),
        url('../font/jack_frost-webfont.woff2?79634847') format('woff2'),
        url('../font/jack_frost-webfont.woff?79634847') format('woff'),
        url('../font/jack_frost-webfont.ttf?79634847') format('truetype'),
        url('../font/jack_frost-webfont.svg?79634847#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}