.header {
    position: relative;
    .top-bar {
        padding: 18px 0 17px 0;
        background-color: $bg-bar-col;
        .container {
            display: flex;
            justify-content: space-between;
        }
        .tb-contact {
            padding-top: 9px;
            .link {
                padding-left: 31px;
                position: relative;
                letter-spacing: 1.5px; 
            }
            .tb-tel {
                margin-right: 41px;
                letter-spacing: 1px;
                word-spacing: -2px;
                letter-spacing: 1.5px;
            }
        }
        .icon {
            font-size: 16px;
            position: absolute;
            left: 0;
            &:before {
                margin-left: 0;
            }
            &.icon-mail {
                top: 1px;
                left: -4px;
            }
        }
        @media (max-width: $breakpoint-2) {
            display: none;
        }
    }
    .control {
        .header-search {
            display: inline-block;
            margin-right: 14px;
            position: relative;
            .search-field {
                border: 1px solid #2192e8;
                background-color: #0988e8;
                padding: 9px 89px 8px 39px;
                letter-spacing: 1px;
                color: $white-font;
                &::-webkit-input-placeholder { color:#ffffff; }
                &::-moz-placeholder { color:#ffffff; } /* firefox 19+ */
                &:-ms-input-placeholder { color:#ffffff; } /* ie */
            }
        }
        .btn-search {
            background-color: transparent;
            border: none;
            outline: none;
            color: $white-font;
            cursor: pointer;
            position: absolute;
            right: 36px;
            top: 10px;
            &:before {
                font-size: 15px;
                transform: rotate(84deg);
            }
        }
        .login {
            letter-spacing: 1.5px;
            transition: all 0.2s linear;
            &:hover {
                color: #3a3a3a;
                transition: all 0.2s linear;
            } 
        }
    }
    .site-nav {
        position: absolute;
        bottom: -106px;
        width: 100%;
        .container {
            display: flex;
            justify-content: space-between;
            padding: 36px 60px 36px 0;
        }
        .logo {
            font-family: 'Jack Frost', sans-serif;
            font-size: 18px;
            line-height: 1.9;
            font-weight: 400;
        }
        .menu-item {
            display: inline-block;
            .link {
                display: inline-block;
                padding: 7px 16px 9px 17px;
                border: 1px solid transparent;
                transition: all 0.2s linear;
                &:hover {
                    color: #3a3a3a;
                    background-color: #1095fa;
                    border: 1px solid #289ffa;
                    transition: all 0.2s linear;
                }  
            }
        }
        @media (max-width: $breakpoint-2) {
            display: none;
        }  
    }
    .mobile-nav {
        background-color: $bg-bar-col;
        display: none;
        @media (max-width: $breakpoint-2) {
            display: block;
            width: 100%;
            position: fixed;
            z-index: 10;
        }
        .top-nav-bar {
            padding-top: 18px;
            padding-bottom: 17px;
            display: flex;
            justify-content: space-between;
        }
        .hamburger {
            height: 26px;
            width: 30px;
            cursor: pointer;
            outline: none;
            border: 0;
            border-top: 3px solid #fff;
            position: relative;
            background-color: transparent;
            margin-top: 6px;
            &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                border-top: 3px solid #fff;
            }
            &:before {
                transform: translateY(7px);
                top: -1px;
            }
            &:after {
                transform: translateY(18px);
                top: -3px;
            }
        }
        .logo {
            font-family: 'Jack Frost', sans-serif;
            font-size: 18px;
            line-height: 1.9;
            font-weight: 400;
        }
        .list{
            display: none;
            border-top: 1px solid #289ffa;
            border-bottom: 2px solid #289ffa;
            background-color: #1095fa;
            &.control {
                border-top: none;
            }
            .link {
                width: 100%;
                display: block;
                text-align: center;
                background-color: #1095fa;
                border-bottom: 1px solid #289ffa;
                padding: 13px 0;
                &:hover {
                    color: #3a3a3a;
                }
            }
            .login {
                font-weight: 400;
                &:hover {
                    color: #3a3a3a;
                }
            }
            .control {
                padding-top: 18px;
                padding-bottom: 17px;
                text-align: center;
                background-color: #1095fa;
            }
            .header-search {
                margin-right: 0;
            }
            .search-field {
                background-color: #289ffa;
                border: none;
            }
        }
    }
    .go-top {
        height: 50px;
        width: 50px;
        color: #fff;
        font-size: 10px;
        border-radius: 50%;
        background-color: #000;
        display: block;
        position: fixed;
        bottom: 30px;
        right: 30px;
        opacity: 0.5;
        display: none;
        transition: all 0.3s;
        .icon-up {
            height: inherit;
            width: inherit;
            display: block;
            padding-top: 28px;
            color: #fff;
            text-align: center;
            text-decoration: none;
            &:before {
                font-size: 20px;
                position: absolute;
                top: 16px;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
            }
            &:hover {
                color: $blue-font;
            }
        }
    }
    &.sticky-bar {
        .site-nav {
            background-color: $bg-bar-col;
            bottom: initial;
            position: fixed;
            top: 0;
            z-index: 10;
            .container {
                padding: 18px 0 17px 0; 
            }
        }
        .go-top {
            display: block;
        }
    }
}