@import 'normalize';
@import 'icons';
@import 'variables';
@import 'mixins';

@font-face {
    font-family: 'Jack Frost';
    src: url('../font/jack_frost-webfont.eot?79634847');
    src: url('../font/jack_frost-webfont.eot?79634847#iefix') format('embedded-opentype'),
        url('../font/jack_frost-webfont.woff2?79634847') format('woff2'),
        url('../font/jack_frost-webfont.woff?79634847') format('woff'),
        url('../font/jack_frost-webfont.ttf?79634847') format('truetype'),
        url('../font/jack_frost-webfont.svg?79634847#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: $grey-text;
}

.container {
    width: 1170px;
    margin: 0 auto;
    @media (max-width: $breakpoint-1) {
        width: 960px;
    }
    @media (max-width: $breakpoint-2) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

}

.link {
    text-decoration: none;
    color: $white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bolder-text {
    font-weight: 400;
}

.big-letter {
    font-size: 30px;
}

.headline-1 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 0.3em;
    letter-spacing: 5px;
}

.headline-2 {
    font-size: 36px;
    font-weight: 400;
    color: $grey-text;
    letter-spacing: 3px;
    margin-bottom: 26px;
}

.headline-3 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}

.headline-4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 14px;
}

.primary-text {
    color: $blue;
}

.under-headline {
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2;
}

.paragraph {
    letter-spacing: 1px;
    line-height: 2;
    line-height: 30px;
}

.list {
    list-style: none;
}

/*--slider--*/

.slider {
    .slide {
        outline: none;
        border: none;
    }

    .icon-down, .icon-up, .icon-right, .icon-left {
        font-size: 27px;
        position: absolute;
        color: #d2d1d1;
        cursor: pointer;
        &:hover {
            color: #000;
        }
    }
}

/*--header--*/

.top-bar {
    padding: 18px 0 17px 0;
    background-color: $dark-blue;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .tb-contact {
        padding-top: 9px;
        .link {
            padding-left: 31px;
            position: relative;
            letter-spacing: 1.5px; 
        }
        .tb-tel {
            margin-right: 41px;
            letter-spacing: 1px;
            word-spacing: -2px;
            letter-spacing: 1.5px;
        }
    }
    .icon {
        font-size: 16px;
        position: absolute;
        left: 0;
        &:before {
            margin-left: 0;
        }
        &.icon-mail {
            top: 1px;
            left: -4px;
        }
    }
    .header-search {
        display: inline-block;
        margin-right: 14px;
        position: relative;
        .search-field {
            border: 1px solid #2192e8;
            background-color: #0988e8;
            padding: 9px 89px 8px 39px;
            letter-spacing: 1px;
            color: $white;
            &::-webkit-input-placeholder { color:#ffffff; }
            &::-moz-placeholder { color:#ffffff; } /* firefox 19+ */
            &:-ms-input-placeholder { color:#ffffff; } /* ie */
        }
    }
    .btn-search {
        background-color: transparent;
        border: none;
        outline: none;
        color: $white;
        cursor: pointer;
        position: absolute;
        right: 36px;
        top: 10px;
        &:before {
            font-size: 15px;
            transform: rotate(84deg);
        }
    }
    .login {
        letter-spacing: 1.5px;
        &:hover {
            color: #3a3a3a;
        } 
    }
}

.site-nav {
    display: flex;
    justify-content: space-between;
    padding: 36px 60px 36px 0;
    .logo {
        font-family: 'Jack Frost', sans-serif;
        font-size: 18px;
        line-height: 1.9;
        font-weight: 400;
    }
    .menu-item {
        display: inline-block;
        .link {
            display: inline-block;
            padding: 7px 16px 9px 17px;
            border: 1px solid transparent;
            &:hover {
                color: #3a3a3a;
                background-color: #1095fa;
                border: 1px solid #289ffa;
            }  
        }
    }
}

.home_slider {
    color: $white;
    background: url('../img/header-bg.png') $blue;
    background-position: center bottom -80px;
    background-repeat: no-repeat;
    background-size: cover;
    .slider-text {
        text-align: center;
        padding: 67px 130px 195px 130px;
        .paragraph {
            letter-spacing: 2px;
            margin-bottom: 42px;
        }
    }
    .btn {
        @include btn_white();
    }
}

/*--about us--*/

.about-us {
    .container {
        display: flex;
        padding-top: 90px;
        padding-bottom: 141px;
        position: relative;
        @media (max-width: $breakpoint-2) {
            flex-direction: column; 
        }
    }

    .article {
        padding-right: 124px;
        @media (max-width: $breakpoint-2) {
            margin-bottom: 70px;
            padding: 0 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: $breakpoint-3) {
            padding: 0 30px;
            align-items: center;
        }
        @media (max-width: $breakpoint-4) {
            padding: 0;
        }
        .paragraph {
            @media (max-width: $breakpoint-2) {
                width: 600px;
                align-self: center;
            }
            @media (max-width: $breakpoint-3) {
                width: 100%;
            }
            @media (max-width: $breakpoint-3) {
                text-align: justify;
            }
        }
        .btn {
            @include btn($blue);
            margin-top: 39px;
            @media (max-width: $breakpoint-2) {
                align-self: flex-end;
            }
            @media (max-width: $breakpoint-4) {
                align-self: center;
            }
        }
    }

    .par1 {
        line-height: 30px;
        margin-bottom: 20px;
    }

    .about-us_item {
        flex-basis: 50%;
    }

    .item-slider {
        @media (max-width: $breakpoint-2) {
            height: 550px;
            position: relative;
        }
    }

    .slider {
        height: 469px;
        width: 466px;
        @include box-shadow(0.2);

        .slick-dots {
            list-style: none;
            position: absolute;
            bottom: -80px;
            left: 139px;
            li {
                display: inline-block;
                margin: 0 7px; 
            }
            button {
                border-radius: 50%;
                height: 10px;
                width: 10px;
                border: 2px solid #000;
                background-color: $white;
                color: transparent;
                cursor: pointer;
                outline: none;
                vertical-align: middle;
                &:hover {
                    background-color: $blue;
                } 
            }
        }
        .slick-active {
            button {
                height: 15px;
                width: 15px;
                border: 3px solid #000;
                background-color: $blue;
            }
        }
        .icon-up {
            top: 175px;
            left: -71px;
            @media (max-width: $breakpoint-3) {
                display: none;
            }
        }
        .icon-down {
            top: 226px;
            left: -71px;
            @media (max-width: $breakpoint-3) {
                display: none;
            }
        }
    }

    .slider-area {
        width: 466px;
        height: 469px;
        position: absolute;
        top: -46px;
        right: 25px;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: $white;
            height: 2px;
            width: 28px;
        }
        &:before {
            top: 0;
            left: -27px;
            transform: rotate(37deg);
            transform-origin: top right;
        }
        &:after {
            top: 0;
            right: -27px;
            transform: rotate(-37deg);
            transform-origin: top left;
        }
        .decoration,
        .decor-bottom {
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: $blue;
            z-index: 1;
            &:after {
                content: '';
                display: block;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                border: 2px solid $blue;
                position: absolute;
            }
        }

        .decoration {
            top: 0;
        }

        .decor-bottom {
            bottom: 0;
        }

        .decor_1 {
            left: 1px;
            transform: rotate(37deg);
            transform-origin: top left;
            &:after {
                top: -3px;
                right: -10px; 
            }
        }

        .decor_2 {
            right: 1px;
            transform: rotate(-37deg);
            transform-origin: top right;
            &:after {
                top: -3px;
                left: -10px; 
            }
        }

        .decor_3 {
            left: 1px;
            transform: rotate(37deg);
            transform-origin: top left;
            &:after {
                top: -3px;
                right: -10px; 
            }
        }

        .decor_4 {
            right: 1px;
            transform: rotate(-37deg);
            transform-origin: top right;
            &:after {
                top: -3px;
                left: -10px; 
            }
        }
        .counter {
            font-size: 18px;
            font-weight: 400;
            position: absolute;
            bottom: 144px;
            left: -76px;
            transform: rotate(-90deg);
        }
        @media (max-width: $breakpoint-2) {
            top: 0;
            left: 50%;
            transform: translate(-50%);
        }
    }


    .slide {
        position: relative;

        .picture {
            width: 100%;
        }
        .content {
            position: absolute;
            top: 36px;
            left: 0;
            width: 100%;
            text-align: center;
        }
        .headline-4 {
            line-height: 31px;
            margin-bottom: 0;
        }
        .text{
            font-size: 18px;
            letter-spacing: 1px;
            word-spacing: 2px;
        }
    }
}

/*--services--*/

.services {
    background-color: $bg-color;
    padding-top: 84px;
    padding-bottom: 90px;
    text-align: center;

    .text-boxes {
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint-2) {
            flex-direction: column;
            align-items: center;
        }
    }

    .text-box {
        width: calc(33.333333% - 19px);
        background-color: $white;
        padding: 34px 40px 44px 40px;
        position: relative;
        @include box-shadow(0.2);
        &:hover {
            @include blue-box-shadow(10px);
        }
        &:hover .decoration {
            display: block;
        }
        @media (max-width: $breakpoint-2) {
            width: 90%;
            margin-bottom: 25px;
            padding: 34px 65px 44px 65px;
        }
        @media (max-width: $breakpoint-3) {
            padding: 25px 30px 40px 30px;
        }
        @media (max-width: $breakpoint-4) {
            width: 100%;
        }

        .decoration {
            position: absolute;
            top: 0;
            width: 100px;
            height: 2px;
            background-color: $blue;
            display: none;
            &:after {
                content: '';
                display: block;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                border: 2px solid $blue;
                position: absolute;
            }
        }

        .decor_1 {
            left: 1px;
            transform: rotate(37deg);
            transform-origin: top left;
            &:after {
                top: -3px;
                right: -10px; 
            }
        }

        .decor_2 {
            right: 1px;
            transform: rotate(-37deg);
            transform-origin: top right;
            &:after {
                top: -3px;
                left: -10px; 
            }
        }

        .icon {
            color: $blue;
            display: inline-block;
            height: 90px;
            width: 90px;
            border-radius: 50%;
            border: 3px solid #b4defd;
            margin-bottom: 25px;
            position: relative;
            &:before {
                position: absolute;
            }
            @media (max-width: $breakpoint-3) {
                margin-bottom: 15px;
            }
        }
        .icon-desktop {
            font-size: 37px;
            &:before {
                left: 16px;
                top: 26px;
            }
        }
        .icon-mobile {
            font-size: 49px;
            &:before {
                left: 8px;
                top: 18px;
            }
        }
        .icon-gift {
            font-size: 38px;
            &:before {
                left: 15px;
                top: 23px;
            }
        }
    }

    .under-headline {
        margin-bottom: 48px;
    }
}

/*--blog--*/

.blog {
    padding: 80px 0;
    .latest-post {
        padding: 0 200px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width: $breakpoint-1) {
            padding: 0 100px;
        }
        @media (max-width: $breakpoint-2) {
            padding: 0 50px;
            align-items: center;
        }
        @media (max-width: $breakpoint-4) {
            padding: 0 20px;
        }
        .headline-3 {
            margin-bottom: 47px;
            @media (max-width: $breakpoint-3) {
                margin-bottom: 35px;
            }
            @media (max-width: $breakpoint-4) {
                font-size: 28px;
                text-align: center;
            }
        }
        .primary-text {
            display: block;
            margin-bottom: 7px;
        }
        .paragraph {
            line-height: 30px;
            width: 600px;
            align-self: center;
            @media (max-width: $breakpoint-3) {
                width: auto;
            }
            @media (max-width: $breakpoint-4) {
                text-align: justify;
            }
        }
        .btn {
            @include btn($blue);
            margin-top: 69px;
            @media (max-width: $breakpoint-2) {
                align-self: flex-end;
            }
            @media (max-width: $breakpoint-3) {
                margin-top: 45px;
            }
            @media (max-width: $breakpoint-4) {
                align-self: center;
            }
        }
    }

    .popular-posts {
        display: flex;
    }

    .slider-post {
        width: 50%;
        position: relative;
        @media (max-width: $breakpoint-3) {
            width: 100%;
            padding-bottom: 65px;
        }
    }

    .slider-area {
        height: 382px;
        width: 564px;
        position: absolute;
        top: 50px;
        right: -194px;
        @media (max-width: $breakpoint-1) {
            right: -245px;
        }
        @media (max-width: $breakpoint-2) {
            width: 520px;
        }
        @media (max-width: $breakpoint-3) {
            position: relative;
            top: 0;
            right: 0;
            margin: 0 auto;
            height: auto;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
        .counter {
            font-size: 18px;
            font-weight: 400;
            position: absolute;
            bottom: 0;
            left: -98px;
            @media (max-width: $breakpoint-1) {
                left: -114px;
            }
            @media (max-width: $breakpoint-2) {
                left: -88px;
            }
            @media (max-width: $breakpoint-3) {
                left:20%;
                transform: translate(-50%);
                bottom: -60px;
            }
        }
    }

    .slider {
        height: 100%;
        width: 100%;
        @include box-shadow(0.2);

        &:before, &:after {
            content: '';
            height: 10px;
            width: 115px;
            display: block;
            background-color: $blue;
            position: absolute;
            right: 125px;
            @media (max-width: $breakpoint-1) {
                right: 176px;
            }
            @media (max-width: $breakpoint-3) {
                right: calc(50% - 57px);
            }
        }
        &:before {
            top: -10px;
        }
        &:after {
            bottom: -10px;
        }

        .slick-dots {
            position: absolute;
            bottom: 98px;
            left: -98px;
            @media (max-width: $breakpoint-2) {
                left: -70px;
            }
            @media (max-width: $breakpoint-3) {
                left: 50%;
                transform: translate(-50%);
                bottom: -57px;
            }
            li {
                display: block;
                margin: 7px 0; 
                text-align: center;
                @media (max-width: $breakpoint-3) {
                    display: inline-block;
                    margin: 0 7px;
                }
            }
            button {
                border-radius: 50%;
                height: 10px;
                width: 10px;
                border: 2px solid #000;
                background-color: $white;
                color: transparent;
                cursor: pointer;
                outline: none;
                @media (max-width: $breakpoint-3) {
                    vertical-align: middle;
                }
                &:hover {
                    background-color: $blue;
                } 
            }
        }

        .icon-left {
            bottom: -4px;
            left: -218px;
            @media (max-width: $breakpoint-1) {
                bottom: 43px;
                left: -127px;
            }
            @media (max-width: $breakpoint-2) {
                left: -100px;
            }
            @media (max-width: $breakpoint-3) {
                display: none;
            }
        }

        .icon-right {
            bottom: -4px;
            left: -166px;
            @media (max-width: $breakpoint-1) {
                bottom: 44px;
                left: -90px;
            }
            @media (max-width: $breakpoint-2) {
                left: -65px;
            }
            @media (max-width: $breakpoint-3) {
                display: none;
            }
        }

        .slick-active {
            button {
                height: 15px;
                width: 15px;
                border: 3px solid #000;
                background-color: $blue;
            }
        }

        .slide {
            background-color: $white;
            height: 382px;
            padding: 37px 77px 85px 74px;
            position: relative;
            @media (max-width: $breakpoint-2) {
                width: 520px;
            }
            @media (max-width: $breakpoint-3) {
                padding-bottom: 135px;
                height: 100%;
            }
            @media (max-width: $breakpoint-4) {
                padding: 37px 40px 120px 40px;
            }

            .headline-2 {
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 34px;
                letter-spacing: 7px;
                @media (max-width: $breakpoint-2) {
                    margin-bottom: 25px;
                }
                @media (max-width: $breakpoint-4) {
                    font-size: 30px;
                }
            }
            .paragraph {
                line-height: 23px;
                letter-spacing: normal;
                word-spacing: 2px;
            }

            .par-1 {
                margin-bottom: 24px;
            }

            .rating {
                position: absolute;
                bottom: 37px;
                right: 77px;
            }
            .scale {
                position: relative;
                padding-bottom: 17px;
                &:before, &:after {
                    content: '';
                    display: block;
                    position: absolute;
                }
                &:before {
                    height: 1px;
                    width: 158px;
                    background-color: #0891f9;
                    bottom: 8px;
                    right: 0;
                }
                &:after {
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    border: 2px solid #0891f9;
                    bottom: 2px;
                    left: -34px;
                }
                @for $i from 1 through 5 {
                    &.rate-#{$i} {
                        i:nth-child(-n+#{$i}) {
                            &:before {
                                content: '\e806';
                            }
                        } 
                    }
                }
            }
            .icon-heart {
                color: $blue;
                &:before {
                    margin: 0 5px;
                }
            }
            .rate {
                letter-spacing: 1px;
                text-align: center;
                display: block;
            }
        }
    }

    .picture {
        width: 50%;
        height: 549px;
        background: url(../img/blog-bg.jpg) center no-repeat;
        background-size: cover;
        @media (max-width: $breakpoint-3) {
            display: none;
        }
    }
}

/*--newsletter--*/

.newsletter {
    background-color: $bg-color;
    .container {
        padding-top: 83px;
        padding-bottom: 83px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .headline-3 {
        width: 400px;
        @media (max-width: $breakpoint-4) {
            width: 100%;
            text-align: center;
        }
        .primary-text {
            position: relative;
            display: inline-block;
            margin-bottom: 14px;
            @media (max-width: $breakpoint-4) {
                margin-bottom: 25px;
            }
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
            }
            &:before {
                height: 1px;
                width: 158px;
                background-color: $blue;
                top: 60%;
                right: -159px;
                @media (max-width: $breakpoint-4) {
                    top: 47px;
                    right: 48px;
                }
            }
            &:after {
                height: 8px;
                width: 8px;
                border-radius: 50%;
                border: 2px solid $blue;
                top: calc(50% - 3px);
                right: -171px;
                @media (max-width: $breakpoint-4) {
                    top: 41px;
                    right: 36px;
                }
            }
        }
        .secondary-text {
            display: block;
            padding-left: 181px;
            position: relative;
            @media (max-width: $breakpoint-4) {
                padding-left: 0;
            }
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                @media (max-width: $breakpoint-4) {
                    display: none;
                }
            }
            &:before {
                height: 1px;
                width: 158px;
                background-color: $blue;
                top: 50%;
                left: 0;
            }
            &:after {
                height: 8px;
                width: 8px;
                border-radius: 50%;
                border: 2px solid $blue;
                top: calc(50% - 6px);
                left: 158px;
            }
        }
    }
    .paragraph {
        font-size: 18px;
        margin-top: 12px;
        @media (max-width: $breakpoint-3) {
            text-align: center;
        }
    }
    .btn {
        @include btn($blue);
        width: 170px;
    }
    .subscribe {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 51px;
        padding: 0 100px;
        @media (max-width: $breakpoint-1) {
            padding: 0;
        }
        @media (max-width: $breakpoint-2) {
            flex-direction: column;
            align-items: center;
        }
    }
    .subscribe-field {
        height: 65px;
        width: 371px;
        border: none;
        outline: none;
        padding-left: 54px;
        font-weight: 400;
        letter-spacing: 1px;
        @include box-shadow(0.1);
        &:focus {
            @include blue-box-shadow(5px);
            &::-webkit-input-placeholder { font-weight: 300; }
            &::-moz-placeholder { font-weight: 300; } /* firefox 19+ */
            &:-ms-input-placeholder { font-weight: 300; } /* ie */
        }
        @media (max-width: $breakpoint-2) {
            margin-bottom: 20px;
        }
        @media (max-width: $breakpoint-4) {
            width: 100%;
        }
    }
}

/*--partners--*/

.partners {
    .container {
        padding-top: 76px;
        padding-bottom: 86px;
    }
    .headline-3 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 49px;
    }
    .brands {
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint-3) {
            flex-wrap: wrap;
        }
    }
    .brand-item {
        height: 180px;
        width: 270px;
        @include box-shadow(0.2);
        &:hover {
            @include blue-box-shadow(10px);
        }
        @media (max-width: $breakpoint-1) {
            width: 225px;
        }
        @media (max-width: $breakpoint-2) {
            height: 150px;
            width: calc(25% - 15px);
        }
        @media (max-width: $breakpoint-3) {
            width: calc(50% - 10px);
            margin-bottom: 20px;
        }
        @media (max-width: $breakpoint-4) {
            height: 160px;
            width: 100%;
        }
    }
    .brand-logo {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

/*--footer--*/

.foot-menu {
    color: $white;
    background-color: $blue;
    padding-top: 77px;
    padding-bottom: 69px;
    .foot-nav {
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint-3) {
            flex-wrap: wrap;
        }
    }
    .headline-4 {
        font-size: 18px;
        letter-spacing: 1px;

    }
    .link{
        display: inline-block;
        line-height: 2.5;
        &:hover {
            color: $grey-text;
        } 
    }
    .column {
        width: 185px;
        @media (max-width: $breakpoint-3) {
            width: 50%;
            text-align: center;
            margin-bottom: 30px;
        }
        @media (max-width: $breakpoint-4) {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .get-connected {
        .headline-4 {
            margin-bottom: 20px;
        }
    }
    .socials {
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint-1) {
            width: 150px;
        }
        @media (max-width: $breakpoint-3) {
            width: 100%;
            justify-content: center;
        }
        .list-item {
            display: block;
            @media (max-width: $breakpoint-3) {
                margin: 0 7px;
            }
        }
        .icon {
            height: 40px;
            width: 40px;
            border: 2px solid $white;
            font-size: 17px;
            color: $white;
            border-radius: 50%;
            display: inline-block;
            text-decoration: none;
            position: relative;
            &:hover {
                color: $blue;
                background-color: $white;
            }
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                margin: 0;
            }
        }
        .icon-twitter {
            font-size: 18px;
        }
    }
}
.copyrights {
    color: $white;
    background-color: $dark-blue;
    text-align: center;
    .author {
        padding-top: 16px;
        padding-bottom: 18px;
    }
}




